/* Created by Tyler McLean 07/11/2017 */

#profile-section {
	/*padding-top: 10em;*/
}

.profile-img {
	margin: 5% 5% 5% 5%;
	width: 45%;
	height: 45%;
}

.bottom-align-text {
	position:absolute;
	bottom: 10%;
	right: 0%;
	font-size: 5%
}

.col-align {
	position: absolute;
	left: 90%;
	padding-top: 15%;
}

.btn-blue {
	background-color: #0596CC;
	color:#FFFFFF;
}

.btn-blue:hover {
	background-color: #1B9FD0;
	color:#FFFFFF;
}

.btn-override {
  display: inline-block;
  padding: 1% 1%;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-lrg ,
.btn-group-lg > .btn {
	padding: 10% 15%;
	font-size: 100%;
	border-radius: 0%;
}

.form-group {
	display: inline-block;
}

.panel-pad {
	padding-left: 5%;
	padding-right: 5%;
}

.panel-info-pad {
	padding: 1%;
}
